@import "./../../../../styles.scss";

:host {
  @include dFlex();
  width: 50%;
  @media (max-width: 945px) {
    width: 100%;
  }
}

form {
  @include dFlex($fd: column, $ai: flex-start);
  width: 100%;
  .form-row {
    @include dFlex($fd: column, $ai: flex-start, $g: 8px);
    border-bottom: 1px solid $green-light;
    width: 100%;
    padding: 30px;
    label {
      font-family: "Fira Code";
      font-weight: 400;
      font-size: 18px;
      color: $green-light;
      padding-left: 6px;
    }
    input,
    textarea {
      background: none;
      border: none;
      width: 100%;
      padding: 5px;
      color: $text;
      resize: none;
      cursor: pointer;
      &:invalid.ng-touched::placeholder {
        color: #f75543;
      }
    }
  }
  .form-name {
    border-top: 1px solid $green-light;
  }
  .checkbox {
    @include dFlex($jc: flex-start, $g: 16px);
    width: 100%;
    margin-top: 36px;
    input[type="checkbox"] {
      @include dFlex();
      background-color: transparent;
      border: 1px solid $green-light;
      appearance: none;
      width: 18px;
      height: 18px;
      aspect-ratio: 1;
      border: 2px solid $green-light;
      border-radius: 2px;
      cursor: pointer;
      &:after {
        content: "";
        width: 12px;
        height: 12px;
        background-image: url("./../../../../assets/img/check.svg");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        display: none;
      }
      &:checked:after {
        display: block;
      }
    }
    label {
      font-size: 15px;
    }
    a {
      text-decoration: none;
      color: $green-light;
      &:hover {
        color: white;
      }
    }
  }
}

.error {
  color: #f75543;
  font-size: 14px;
  margin-top: 8px;
}

.submit-form {
  @include dFlex($fd: column, $ai: flex-start);
  width: 100%;
  .submit-btn {
    @include dFlex();
    background-color: transparent;
    color: white;
    border: 1px solid $green-light;
    border-radius: 32px;
    padding: 12px 20px;
    margin-top: 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba($green-light, 0.5);
    }

    &.form-valid {
      border-color: $green-light;
    }
  }
  .btn-submit {
    @include dFlex();
    width: 100%;
  }

  .submit-btn[disabled] {
    border-color: #868686;
    background-color: rgba(#868686, 0.3);
    color: #9d9d9d;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.submit-message {
  @include dFlex();
  width: 100%;

  .success {
    width: 100%;
    margin-top: 32px;
    color: $green_light;
    text-align: center;
    font-size: 24px;
  }
}
