@import "./../../../../styles.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include dFlex();
  background-color: rgba($bg_dark, 0.6);
  z-index: 1000;

  .overlay-content {
    @include dFlex();
    width: 80%;
    overflow-y: auto;
    height: 80%;
    background: linear-gradient(45deg, $bg_dark 40%, $bg_green 100%);
    border-radius: calc(2vh + 2vw);
    border: 1px solid $green-light;
    max-width: 1440px;
    @media (max-width: 1000px) and (min-height: 800px) {
      flex-direction: column-reverse;
      height: auto;
    }

    .overlay-info {
      @include dFlex($fd: column, $ai: flex-start);
      width: 80%;
      padding: 48px;
      p {
        font-family: "Fira Code";
        font-size: 24px;
        color: $green-light;
        font-weight: 500;
        padding: 20px 0 20px 0;
      }
      h1 {
        font-size: 80px;
        color: $green-light;
      }
      h2 {
        color: $text;
      }
      .buttons {
        @include dFlex($g: 8px);
        margin-top: 8px;
        button {
          @include dFlex($g: 3px);
          background-color: transparent;
          color: $text;
          border: 1px solid $text;
          border-radius: 32px;
          padding: 12px;
          transition: all 0.3s ease;
          img {
            position: relative;
            transition: transform 0.3s ease;
          }
          &:hover {
            color: $green-light;
            border-color: $green-light;
          }
          &:hover img {
            transform: translate(5px, -5px);
          }
        }
      }
    }

    .overlay-img {
      @include dFlex();
      img {
        width: 100%;
        padding: 48px;
        @media (max-width: 1000px) {
          width: 80%;
          padding: 30px 0 0 0;
        }
      }
    }
  }
}

.skills {
  @include dFlex($jc: flex-start);
  padding: 16px 0;
  flex-wrap: wrap;
  .skillset {
    @include dFlex($g: 8px);
    padding-right: 20px;
    img {
      @include dFlex();
    }
  }
}

.next {
  @include dFlex($g: 8px);
  border: none;
  background-color: transparent;
  color: $green-light;
  &:hover {
    color: white;
  }
  &:hover img {
    transform: translate(5px);
  }
}
.left {
  display: none !important;
}

@media (max-width: 1000px) and (min-height: 800px){
  .left {
    display: flex !important;
    width: 100%;
    justify-content: flex-end;
    padding-top: 20px;
  }

  .right {
    display: none !important;
  }

  .overlay-info {
    padding: 0 0 20px 0 !important;
    p {
      padding: 0 !important;
    }
  }

  .overlay-img {
    width: 100%;
    img {
      width: 60%;
      padding: 30px 43px 10px 30px !important;
    }
  }
  .right-wrapper {
    gap: 0 !important;
    width: 100%;
  }
}

@media (max-width: 800px) {
  h2{
    font-size: 42px;
  } 

  .skillset {
    padding-top: 6px;
  }
}

@media (max-width: 480px) {
  .overlay-img{
    display: none !important;
  } 
  .overlay-content {
    width: 90%;;
  }
}

.close {
  @include dFlex($g: 8px);
  border: none;
  background-color: transparent;
  color: $green-light;
  &:hover img {
    transform: scale(1.5);
    color: $green-light;
    padding: 32px !important;
  }
}

.right-wrapper {
  @include dFlex($ai: flex-end, $fd: column, $g: 56px, $jc: flex-start);
  height: 100%;
  button img {
    padding: 32px 32px 32px 0;
  }
}
