<section class="portfolio">
  <span>Portfolio</span>
  <h2>{{ "projects.title" | translate }}</h2>
  <p>{{ "projects.text" | translate }}</p>
  <ul>
    <li *ngFor="let project of projects; let isLast = last">
      <div class="left-wrapper" (click)="openOverlay(project)" [ngClass]="{ 'border-bottom': isLast }">
        <div class="left">
          {{ project.title }}
          <div class="arrow">
            <img src="assets/img/arrow_outward.svg" alt="" />
          </div>
        </div>
        <div class="right">
          <span
            *ngFor="let singlestack of project.stack"
            class="project-stack"
            >{{ singlestack }}</span
          >
        </div>
      </div>
      <div class="right-wrapper">
        <div class="img-div">
          <img class="project-img" [src]="project.imageUrl" />
        </div>
      </div>
    </li>
  </ul>
</section>

<app-overlay 
*ngIf="overlayVisible()"
  [project]="selectedProject()"
  [projects]="projects"
  (close)="closeOverlay()"
/>

