<div class="title">
  <span class="fontFira">{{ "hero.subtitle" | translate }}</span>
  <h1>Anja Gollner</h1>
  <div class="buttons">
    <app-button
      [label]="'heroBtn.projects' | translate"
      [targetId]="'projects'"
    ></app-button>
    <app-button
      [label]="'heroBtn.contact' | translate"
      [targetId]="'about-me'"
    ></app-button>
  </div>
</div>

<div class="left-seperator">
  <div class="vector">
    <img src="assets/img/scroll.svg" alt="" />
  </div>
  <div class="vertical-line-left"></div>
</div>

<div class="right-seperator">
  <a class="mail-link" href="'mailto: anjakgollner@gmail.com'"
    >anjakgollnergmail.com</a
  >
  <div class="icons">
    <a href="https://github.com/anja-gollner" target="_blank">
      <img class="github" src="assets/img/github.png" alt="" />
    </a>
    <a href="https://www.linkedin.com/in/anja-gollner/" target="_blank">
      <img class="linkedin" src="assets/img/linkedin.png" alt="" />
    </a>
  </div>
  <div class="vertical-line-right"></div>
</div>

<div class="marquee">
  <div class="text_marquee">
    <span>{{ "marquee.item1" | translate }}</span>
    <span>•</span>
    <span>{{ "marquee.item2" | translate }}</span>
    <span>•</span>
    <span>{{ "marquee.item3" | translate }}</span>
    <span>•</span>
    <span>{{ "marquee.item4" | translate }}</span>
    <span>•</span>
    <span>{{ "marquee.item1" | translate }}</span>
    <span>•</span>
    <span>{{ "marquee.item2" | translate }}</span>
    <span>•</span>
    <span>{{ "marquee.item3" | translate }}</span>
    <span>•</span>
    <span>{{ "marquee.item4" | translate }}</span>
    <span>•</span>
  </div>
</div>
