@import "./../../../styles.scss";

:host {
  min-height: 100vh;
  background: linear-gradient(45deg, $bg_dark 40%, $bg_green 100%);
  color: $text;
  @include dFlex($fd: column);
}

.title {
  @include dFlex($ai: center, $jc: center, $fd: column);
  h1 {
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    margin-bottom: 28px;
    @media (max-width: 644px) {
      font-size: 7vH;
    }
  }
  span {
    text-align: center;
    font-size: 32px;
    @media (max-width: 644px) {
      font-size: 3vH;
    }
  }
}

.buttons {
  @include dFlex($g: 48px);
}

.left-seperator {
  @include dFlex($fd: column);
  position: absolute;
  bottom: 0;
  left: 20%;
  .vertical-line-left {
    width: 1px;
    background-color: $green-light;
    height: 25vh;
  }
  .vector {
    margin-bottom: 32px;
    padding: 16px 12px;
    border: 1px solid $green-light;
    border-radius: 32px;
    > img {
      animation: wiggle 1s ease-out infinite;
    }
  }
  @media (max-width: 1000px) {
    left: 5%;
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(50%);
  }
}

.right-seperator {
  @include dFlex($fd: column);
  position: absolute;
  bottom: 0;
  right: 20%;
  .vertical-line-right {
    width: 1px;
    background-color: $white;
    height: 15vh;
  }
  .icons {
    @include dFlex($fd: column, $g: 4px);
  }
  .github:hover {
    content: url(./../../../assets/img/github-hover.png);
  }
  .linkedin:hover {
    content: url(./../../../assets/img/linkedin-hover.png);
  }
  .mail-link {
    @include dFlex($g: 8px);
    writing-mode: vertical-lr;
    text-orientation: sideways-left;
    transform: rotate(180deg);
    padding-top: 15px;
    &:hover {
      color: $green-light;
    }
  }
  @media (max-width: 1000px) {
    right: 5%;
  }
}

.marquee {
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  bottom: 30px;
  padding: 12px 0;
  font-size: 24px;
  font-weight: 300;
  transform: rotate(-2.4deg);
  overflow: hidden;
  .text_marquee {
    display: inline-block;
    animation: move-text 20s infinite linear;
    white-space: nowrap;
  }
  span {
    display: inline-block;
    padding: 0 32px;
    color: $green-light;
  }
}

@keyframes move-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
