@import "../../../styles.scss";

:host {
  @include dFlex();
  background-color: $bg_dark;
}

section {
  @include dFlex($g: 50px);
  max-width: 1440px;
  width: 100%;
  padding: 160px 80px 100px 80px;
  .about-me-pic {
    @include dFlex($ai: flex-start);
    margin-bottom: 32px;
    img {
      border-radius: 32px;
      width: 400px;
      height: 400px;
    }
  }
  .text-box {
    width: 100%;
    margin: 10px;
    .head-aboutme {
        padding: 20px 5px;
        font-weight: 700;
        font-size: 20px;
    }
    .info-item {
      @include dFlex($fd: row, $jc: flex-start);
      width: 100%;
      padding-top: 2vh;
      .info-text {
        color: $text;
        font-weight: 300;
        &:hover {
            color: $white;
        }
    }
      .info-icon {
        padding: 6px;
        
      }
      img {
        width: 20px;
      }
    }
    .about-me-text {
      padding: 30px;
      border: 1px solid $green-light;
      border-radius: 32px;
      background-color: rgba(10, 45, 36, 0.371);
    }
    span {
      color: $green-light;
    }
  }
}
