<section>
  <div data-aos="flip-left" class="about-me-pic">
    <img src="assets/img/portrait.png" alt="Anja Gollner - WebDevelopment" />
  </div>
  <div data-aos="flip-left" class="text-box">
    <div class="head-aboutme"><span>{{ "aboutMe.subtitle" | translate }}</span></div>
    <div class="about-me-text">
      <h2>{{ "aboutMe.title" | translate }}</h2>
      <p>{{ "aboutMe.text" | translate }}</p>

      <div class="info-item">
        <div class="info-icon"><img src="assets/img/location.png" alt=""></div>
        <div class="info-text">{{ "aboutMe.location" | translate }}</div>
      </div>

      <div class="info-item">
        <div class="info-icon"><img src="assets/img/cognition.png"></div>
        <div class="info-text">{{ "aboutMe.mindset" | translate }}</div>
      </div>

      <div class="info-item">
        <div class="info-icon"><img src="assets/img/quality.png"></div>
        <div class="info-text">{{ "aboutMe.profession" | translate }}</div>
      </div>
      
    </div>
  </div>
</section>
