@import "./../../../styles.scss";

:host {
  @include dFlex();
  background: radial-gradient(circle at 0% 50%, $bg_green -20%, $bg_dark 20%);
  overflow: hidden;
}

section {
  @include dFlex($g: 50px, $jc: space-between);
  max-width: 1440px;
  margin: 50px auto;
  width: 100%;
  padding: 0 50px;

  .text-box {
    @include dFlex($fd: column, $ai:flex-start);
    width: 100%;
    margin: 30px;
   
    .skills-head {
        padding-bottom: 20px;
        padding-left: 5px;
        font-weight: 700;
        font-size: 20px;
      }
    .box-border {
    @include dFlex($fd: column, $ai: flex-start);
      border: 1px solid $green-light;
      border-radius: 32px;
      background-color: rgba(10, 45, 36, 0.371);
      padding: 30px;
      width: 100%;
      
    }
    span,
    h1 {
      color: $green-light;
      padding: 5px 0;
      @media (max-width: 567px) {
        padding: 0;
      }
    }
    h3 {
      @include dFlex($g: 8px, $ai:flex-start);
      margin: 0;
      color: $green-light;
      padding: 10px 0;
      font-size: 21px;
      .white {
        color: $white;
      }
      @media (max-width: 567px) {
        @include dFlex($g:0, $fd: column, $ai: flex-start);
        padding: 0;
      }
    }
  }
  .skillset {
    @include dFlex($g: 20px);
    width: 100%;
    font-family: 'Fira Code';
    flex-wrap: wrap;
    .skill-icon {
        @include dFlex($fd: column, $g:8px);
        width: 128px;
        padding: 10px 0;
        img {
            height: 56px;
            transition: transform 500ms ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
  }
}

p {
    font-weight: 300;
    padding-bottom: 10px;
}