@import "./../../../styles.scss";

section {
  overflow-y: hidden;
  position: relative;
  z-index: 1;
  @include dFlex($fd: column, $ai: center, $jc: center);
  background-color: $bg_dark;
  width: 100vw;
  height: 60vh;
  max-width: 100%;
  overflow: hidden;
  h1 {
    font-size: 26px;
    font-weight: 700;
    color: $green-light;
  }
}

.wrapper {
  background: $bg_dark;
  height: 100%;
  width: 100%;
  @include dFlex();
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  @include dFlex($jc: center, $fd: column);
}

.controls {
  @include dFlex();
  margin-top: 20px;
  button {
    background-color: $green-light;
    border: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    color: $text;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #2a8c79;
    }
  }
}

.carousel__item {
  @include dFlex();
  position: absolute;
  width: 100%;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  -webkit-animation: carousel-animate-vertical 54s linear infinite;
  animation: carousel-animate-vertical 54s linear infinite;
}

.carousel__item:nth-child(1) {
  -webkit-animation-delay: calc(6s * -1);
  animation-delay: calc(6s * -1);
}

.carousel__item:nth-child(2) {
  -webkit-animation-delay: calc(6s * 0);
  animation-delay: calc(6s * 0);
}

.carousel__item:nth-child(3) {
  -webkit-animation-delay: calc(6s * 1);
  animation-delay: calc(6s * 1);
}

.carousel__item:nth-child(4) {
  -webkit-animation-delay: calc(6s * 2);
  animation-delay: calc(6s * 2);
}

.carousel__item:nth-child(5) {
  -webkit-animation-delay: calc(6s * 3);
  animation-delay: calc(6s * 3);
}

.carousel__item:nth-child(6) {
  -webkit-animation-delay: calc(6s * 4);
  animation-delay: calc(6s * 4);
}

.carousel__item:nth-child(7) {
  -webkit-animation-delay: calc(6s * 5);
  animation-delay: calc(6s * 5);
}

.carousel__item:nth-child(8) {
  -webkit-animation-delay: calc(6s * 6);
  animation-delay: calc(6s * 6);
}

.carousel__item:last-child {
  -webkit-animation-delay: calc(-6s * 2);
  animation-delay: calc(-6s * 2);
}

.carousel__item-body {
  width: 100%;
  background-color: #20706347;
  border-radius: 32px;
  border: 1px solid $green-light;
  padding: 60px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  color: $text;
  font-family: "Karla", sans-serif;
}

@keyframes carousel-animate-vertical {
    0%,
    100% {
      transform: translateX(100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
    3%, 11.1% {
      transform: translateX(100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    14.1%, 22.2% {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
    25.2%, 33.3% {
      transform: translateX(-100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    36.3% {
      transform: translateX(-100%) scale(0.5);
      opacity: 0;
      visibility: visible;
    }
  }  

.name-line-container {
  @include dFlex();
}

.line {
  flex-grow: 1;
  max-width: 500px;
  border: none;
  border-top: 1px solid #ffffff;
  margin-right: 10px;
}

.name {
  white-space: nowrap;
  color: $white;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 635px) {
  section {
    height: 70vh;
    .title {
      @include dFlex();
      text-align: center;
      margin-bottom: 0px;
      h1 {
        font-size: 24px;
        margin-bottom: 0px;
      }
    }
  }
}
