@import "../../../styles.scss";

:host {
  @include dFlex();
  background-color: $bg_dark;
  width: 100%;
}

.left-div {
  @include dFlex($fd: column, $ai: flex-start, $g: 8px);
  font-size: 12px;
  img {
    height: 80px;
    cursor: pointer;
    @media (max-width: 567px) {
      height: 50px;
    }
  }
}

.center-div {
  span {
    color: $green_light;
    font-family: "Fira Code";
    font-size: 14px;
  }
  @media (max-width: 567px) {
    font-size: 14px;
    display: flex;
    text-align: center;
  }
}

.right-div {
  ul {
    list-style: none;
    @include dFlex($fd: column, $ai: flex-start);
  }
  a:hover {
    color: $green-light;
  }
}

.wrapper {
  width: 100%;
  margin: 20px 30px;
  max-width: 1440px;
  @include dFlex($jc: space-between);
  @media (max-width: 567px) {
    font-size: 12px;
  }
  @media (max-width: 370px) {
    margin: 16px;
    gap: 8px;
  }
}
